<h1>Listing gists</h1>

<table>
  <thead>
    <tr>
      <th>Snippet</th>
      <th>Lang</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @gists.each do |gist| %>
      <tr>
        <td>
        	<% my_snippet = gist.snippet[0..50] %>
		<%= raw Pygments.highlight(my_snippet, lexer: gist.lang) %>
        	</td>
        <td><%= gist.lang %></td>
        <td>
        	<% 
					my_string = gist.description[0..50]
					if(my_string.length > 49)
						 my_string += "..."
						end
				%>
				<%= my_string %>
        </td>
        <td><%= link_to image_tag("http://s28.postimg.org/cp6fblk7t/document_search.png", {:alt=>"Show", :title=>"Show"}) , gist, :class => 'showGist'  %></td>
        <td><%= link_to image_tag("http://s28.postimg.org/hy1g9h2mx/document_edit.png", {:alt=>"Edit", :title=>"Edit"}) , edit_gist_path(gist), :class => 'editGist' %></td>
        <td><%= link_to image_tag("http://s28.postimg.org/wiij4axll/document_delete.png", {:alt=>"Delete", :title=>"Delete"}) , gist, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'deleteGist' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @gists, renderer: BootstrapPagination::Rails%>
<br>

<%= link_to 'New Gist', new_gist_path %>

